# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# NetBeans
nbproject/private/

# Java compiled files
bin/
build/
dist/
target/
*.class

# Logs
*.log

# Database credentials / local config
.env
config/db.properties
ProyectoFinalICC104/config/db.properties
config/dbclinica.properties
ProyectoFinalICC104/config/dbclinica.properties
